# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE configurations
.vscode/


# File Extensions to ignore
*.csv
*.pickle
*.pyc
*.png

# Environment Variables
venv/
.env/
.venv/

# Installer logs
pip-log.txt